@charset "UTF-8";
@import "global";

body {
  background: #29bde0;
}

header {
  .close {
    position: absolute;
    right: 2.5vw;
  }
  @include center;
}

.statement {
  @include p-t;
  background: #29bde0;
  top: 40px;
  @include box(100%, auto);
  .speak {
    @include box(100%, 45px);
    @include middle;
    @include jc-sb;
    background: #b9e9f5;
    padding: 0 8px 0 25px;
    span {
      @include text(1.463rem, #464646);
    }
    a {
      margin-top: 1px;
      img {
        @include box(30px, 30px);
      }
    }
  }
  i {
    display: block;
    margin-left: 40px;
    @include box(0, 0);
    border-top: 8px solid #b9e9f5;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    margin-bottom: 5px;
  }
  p {
    @include text(1.35rem, #fff);
    margin-left: 40px;
    margin-bottom: 20px;
  }
}

.main {
  margin-top: 134px;
  padding-top: 0;
  .grid {
    position: relative;
    img {
      position: absolute;
      bottom: -2vw;
      @include box(4.16vw,4.16vw);
    }
  }
}


