* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  box-sizing: border-box; }

html,
body {
  font-size: 62.5%; }

a,
a:hover {
  text-decoration: none; }

button {
  cursor: pointer;
  border: 0;
  outline: 0;
  background: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none; }

input {
  outline: 0;
  border: 0; }

body {
  background: #f0f0f0; }

header {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #29bde0;
  padding: 0 2.5vw;
  border-bottom: 1px solid #50c9e6;
  position: fixed;
  top: 0;
  z-index: 999999;
  width: 100%; }
  header a:first-child {
    padding-right: 8px; }
    header a:first-child img {
      display: block;
      width: 12px;
      height: 25px; }
  header a:last-child img {
    display: block;
    width: 20px;
    height: 20px; }
  header h1 {
    font-size: 1.913rem;
    color: #fff; }

.main {
  margin-top: 40px;
  margin-bottom: 72px;
  padding: 20px 1.5vw;
  padding-top: 0;
  overflow: hidden; }
  .main .item {
    margin-top: 20px;
    border: 1px solid #c9c9c9;
    background: #fff; }
    .main .item .day {
      cursor: pointer;
      border-bottom: 1px solid #c9c9c9;
      position: relative;
      width: 100%;
      height: 50px;
      font-size: 1.688rem;
      color: #29bde0;
      display: flex;
      align-items: center;
      justify-content: center; }
      .main .item .day:after {
        content: "";
        width: 17px;
        height: 9px;
        background: url("../images/xiajiantou.png");
        background-size: 17px 9px;
        position: absolute;
        right: 2.7vw;
        top: 20px; }
    .main .item .wrap {
      padding: 27px 32px 50px 33px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-left: 5.7vw;
      border-left: 2px solid #cacaca; }
      .main .item .wrap > * {
        width: 100%; }
      .main .item .wrap ul {
        list-style: none; }
        .main .item .wrap ul li {
          cursor: pointer;
          position: relative;
          height: 43px;
          background: #24a7c6;
          margin-bottom: 10px;
          font-size: 1.688rem;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center; }
          .main .item .wrap ul li:before {
            content: "";
            border-right: 10px solid #24a7c6;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            position: absolute;
            left: -10px; }
        .main .item .wrap ul .kill-message {
          background: #fff;
          color: #333;
          margin-bottom: 0;
          display: none; }
          .main .item .wrap ul .kill-message:before {
            border: 0; }
      .main .item .wrap .night {
        position: relative; }
        .main .item .wrap .night:before {
          content: "";
          width: 33px;
          height: 33px;
          border: 1px solid #cccccc;
          border-radius: 50%;
          background: url("../images/yueliang.png") no-repeat 50% 50%;
          background-size: 16px 21px;
          background-color: #fff;
          position: absolute;
          left: -51.5px;
          top: 4px;
          z-index: 1; }
      .main .item .wrap .daytime {
        position: relative; }
        .main .item .wrap .daytime:before {
          content: "";
          width: 33px;
          height: 33px;
          border: 1px solid #cccccc;
          border-radius: 50%;
          background: url("../images/taiyang.png") no-repeat 50% 50%;
          background-size: 21px 21px;
          background-color: #fff;
          position: absolute;
          left: -51.5px;
          top: 4px;
          z-index: 1; }

footer {
  width: 100%;
  height: 72px;
  background: rgba(41, 189, 224, 0.7);
  position: fixed;
  bottom: 0;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  footer button {
    height: 50px;
    width: 42.5vw;
    background: #fbb435;
    font-size: 2.25rem;
    color: #fff;
    border-radius: 4px; }

/*# sourceMappingURL=style-5.css.map */
